receivers:
  otlp:
    protocols:
      grpc:
        endpoint: "0.0.0.0:4317"
      http:
        endpoint: "0.0.0.0:4318"

processors:
  batch: # Groups data to avoid saturation, vital in production
    timeout: 1s # 1s for fast data viewing in the demo

exporters:
  prometheus:
    endpoint: "0.0.0.0:8889" # Exposes metrics for Prometheus to read
  
  otlp: # Sends traces to Jaeger
    endpoint: "jaeger:4317" 
    tls:
      insecure: true

service:
  pipelines:
    traces:
      receivers: [otlp]
      processors: [batch]
      exporters: [otlp] # To Jaeger
    metrics:
      receivers: [otlp]
      processors: [batch]
      exporters: [prometheus] # To Prometheus